body {
    background-color: black;
}

.counterDiv {
    margin: 20px;
    background-color: goldenrod;
    font-size: larger;
    color: white;
    border-radius: 2px;
}
.incButton {
    margin: 20px;
    background-color: rgb(0, 213, 255);
    color: white;
    border-radius: 2px;

}
.decButton {
    margin: 20px;
background-color: rgb(48, 194, 48);
    color: white;
    border-radius: 2px;
}
.resButton {
    margin: 20px;
background-color: red;
    color: white;
    border-radius: 2px;
}